[package]
name = "stackable-opa-crd"
version = "0.1.0"
authors = ["Malte Sander <malte.sander.it@gmail.com>"]
edition = "2018"
description = "Contains the Open Policy Agent CRD structs and utilities"
license = "OSL-3.0"

[dependencies]
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", branch = "main" }

k8s-openapi = { version = "0.11", default-features = false }
kube = { version = "0.51", default-features = false }
kube-derive = { version = "0.51", default-features = false, features = ["schema"] }
kube-runtime = { version = "0.51", default-features = false }
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
k8s-openapi = { version = "0.11", default-features = false, features = ["v1_20"] }

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
