---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test
  labels:
    opa.stackable.tech/bundle: "true"
data:
  test.rego: |
    package test
    
    hello {
      true
    }

    world {
      false
    }
---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['opa'].split('-stackable')[1] }}"
  bundleBuilderImage:
    productVersion: "{{ test_scenario['values']['opa'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['opa'].split('-stackable')[1] }}"
  servers:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
