apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
commands:
  - script: kubectl -n $NAMESPACE wait --for=condition=available opaclusters.opa.stackable.tech/test-opa --timeout 301s
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: test-opa-server-default
spec:
  template:
    spec:
      containers:
        - name: opa
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 256Mi
        - name: bundle-builder
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
      terminationGracePeriodSeconds: 125 # 2 minutes + 5s safety buffer
---
# This test checks if the containerdebug-state.json file is present and valid
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 60
commands:
  - script: kubectl exec -n $NAMESPACE --container opa test-opa-server-default-0 -- cat /stackable/log/containerdebug-state.json | jq --exit-status
