---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
metadata:
  name: test-regorule
commands:
{% if test_scenario['values']['use-tls'] == "true" %}
  - script: kubectl exec -n $NAMESPACE test-opa-0 -- python /tmp/30_test-regorule.py -u "https://test-opa-server.$NAMESPACE.svc.cluster.local:8443/v1/data/test"
{% else %}
  - script: kubectl exec -n $NAMESPACE test-opa-0 -- python /tmp/30_test-regorule.py -u "http://test-opa-server.$NAMESPACE.svc.cluster.local:8081/v1/data/test"
{% endif %}
