---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['opa-latest'].split('-stackable')[1] }}"
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      resources:
        cpu:
          min: 100m
          max: "1"
        memory:
          limit: 1Gi
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      resources-from-role: {}
      resources-from-role-group:
        config:
          resources:
            cpu:
              min: 300m
              max: "3"
            memory:
              limit: 3Gi
          logging:
            enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
