---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: opa
spec:
  image:
{% if test_scenario['values']['opa-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['opa-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['opa-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['opa-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      resources:
        cpu:
          min: 50m
          max: 110m
        memory:
          limit: 256Mi
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      resources-from-role: {}
      resources-from-role-group:
        config:
          resources:
            cpu:
              min: 60m
              max: 130m
            memory:
              limit: 284Mi
          logging:
            enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources-from-pod-overrides:
        podOverrides:
          spec:
            containers:
              - name: opa
                resources:
                  requests:
                    cpu: 70m
                  limits:
                    cpu: 150m
