---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa-latest'] }}"
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      resources:
        cpu:
          min: 200m
          max: 300m
        memory:
          limit: 256Mi
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      resources-from-role: {}
      resources-from-role-group:
        config:
          resources:
            cpu:
              min: 200m
              max: 400m
            memory:
              limit: 512Mi
          logging:
            enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources-from-pod-overrides:
        podOverrides:
          spec:
            containers:
              - name: opa
                resources:
                  requests:
                    cpu: 210m
                  limits:
                    cpu: 310m
