---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test
  labels:
    opa.stackable.tech/bundle: "true"
data:
  test.rego: |
    package test

    hello {
      true
    }

    world {
      false
    }
---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'] }}"
    pullPolicy: IfNotPresent
  servers:
    roleGroups:
      automatic-log-config: {}
    podOverrides:
      spec:
        containers:
          - name: opa
            args:
              - >-
                /stackable/opa/opa run
                --server
                --addr 0.0.0.0:8081
                --config-file /stackable/config/config.yaml
                --log-level info
                --shutdown-grace-period 120
                --disable-telemetry
                2>&1
                | logger
                --udp
                --server ${SYSLOG_SINK%:*}
                --port ${SYSLOG_SINK#*:}
                --priority authpriv.info
                --rfc5424
            env:
              - name: SYSLOG_SINK
                valueFrom:
                  configMapKeyRef:
                    name: opa-vector-aggregator-discovery
                    key: ADDRESS
