---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test
  labels:
    opa.stackable.tech/bundle: "true"
data:
  test.rego: |
    package test

    hello {
      true
    }

    world {
      false
    }
---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
    vectorAggregatorConfigMapName: opa-vector-aggregator-discovery
  servers:
    roleGroups:
      automatic-log-config:
        config:
          logging:
            enableVectorAgent: true
            containers:
              opa:
                console:
                  level: INFO
                file:
                  level: INFO
              bundle-builder:
                console:
                  level: NONE
                file:
                  level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              prepare:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
