---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test
  labels:
    opa.stackable.tech/bundle: "true"
data:
  test.rego: |
    package test

    hello {
      true
    }

    world {
      false
    }
---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
    vectorAggregatorConfigMapName: opa-vector-aggregator-discovery
  servers:
    roleGroups:
      automatic-log-config:
        config:
          logging:
            enableVectorAgent: true
            containers:
              opa:
                console:
                  level: ERROR
                file:
                  level: INFO
                loggers:
                  decision:
                    level: INFO
              bundle-builder:
                console:
                  level: NONE
                file:
                  level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              prepare:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
        podOverrides:
          spec:
            initContainers:
              - name: create-opa-log-dir
                image: docker.stackable.tech/stackable/testing-tools:0.2.0-stackable0.0.0-dev
                # Create the log directory for the opa container upfront
                # to avoid a race condition between the opa and the
                # vector container. If the vector container is
                # initialized first then the prepared logs are mounted
                # to /stackable/log/opa/test. If the directory
                # /stackable/log/opa would not exist then it would be
                # created with the following permissions:
                # drwxr-sr-x root stackable
                # The opa container would not be able to write its logs
                # into this directory.
                # Creating the directory in this init container results
                # in the following permissions:
                # drwxr-sr-x stackable stackable
                # It is not necessary to create the log directory for
                # the bundle builder upfront because the prepared logs
                # are put into a separate directory.
                command:
                  - mkdir
                  - --parents
                  - /stackable/log/opa
                volumeMounts:
                  - name: log
                    mountPath: /stackable/log
            containers:
              - name: vector
                volumeMounts:
                  - name: prepared-logs
                    mountPath: /stackable/log/opa/test
                    subPath: prepared-opa-logs.json
                  - name: prepared-logs
                    mountPath: /stackable/log/prepared-logs/prepared-bundle-builder-logs.tracing-rs.json
                    subPath: prepared-bundle-builder-logs.tracing-rs.json
            volumes:
              - name: prepared-logs
                configMap:
                  name: prepared-logs
