---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
    repo: docker.stackable.tech/sandbox
    productVersion: "{{ test_scenario['values']['opa-latest'] }}"
    stackableVersion: 0.0.0-dev
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  clusterOperation:
    stopped: false
    reconciliationPaused: true
  servers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default: {}
