---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
{% if test_scenario['values']['opa-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['opa-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['opa-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['opa-latest'] }}"
{% endif %}
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  clusterOperation:
    stopped: false
    reconciliationPaused: false
  servers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default: {}
